################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[part]
recipe = minitage.recipe.cmmi
url = http://cairographics.org/releases/cairomm-1.9.6.tar.gz
md5sum=f0c0b03142b67d798e781e3f40dea456
configure-options=--with-boost=${buildout:directory}/../boost-1/parts/part
gmake=True
#pre-configure-hook=${buildout:directory}/hooks/setenv.py:h
[mirrors]
gentoo = mirror.muntinternet.net/pub

