################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[part]
recipe = minitage.recipe.cmmi
url = http://cairographics.org/releases/cairomm-1.8.6.tar.gz
md5sum=39af0fd0c111bb74307f9860653046ce

gmake=True
#pre-configure-hook=${buildout:directory}/hooks/setenv.py:h
[mirrors]
gentoo = mirror.muntinternet.net/pub

