################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[part]
recipe = minitage.recipe.cmmi
url = http://mirror.muntinternet.net/pub/gentoo/distfiles/cairomm-1.8.2.tar.gz
md5sum=24aa46a4f92bdb2af7cd80e6b335f07f
